@use '../util/' as *;

.wrapper {
  width: calc(100% - 2rem);
  max-width: rem(1110);
  margin: 0 auto rem(46);
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}
