@use '../util/' as *;

.header {
  padding-block: rem(18);
  --flex-dir: column;
  --flex-gap: 0.5rem;

  @include breakpoint(medium) {
    --flex-dir: row;
    --flex-gap: 0em;
  }

  &__title {
    h1 {
      margin: 0;
      padding-block-end: rem(10);
      font-size: rem(24);

      @include breakpoint(large) {
        font-size: rem(28);
      }
    }
  }
}
