@use '../util/' as *;
@use '../globals/' as *;

.header {
  margin-block-start: rem(36);
  --flex-dir: column;
  --flex-gap: 0.5rem;

  @include breakpoint(medium) {
    --flex-dir: row;
    --flex-gap: 0em;
  }

  &__title {
    width: 100%;

    @include breakpoint(medium) {
      width: auto;
    }
  }

  &__subtitle {
    font-size: rem(14);
    font-weight: var(--fw-bold);
    color: var(--clr-light-blue-text);
  }
}
